h2{
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}
p,a{
    font-family: 'Roboto', sans-serif;
}

/* header */
header{
    background-color: #2b2b2b;
    padding: 15px 0px;
}
.site-logo .logo-img{
    width: 75px;
}
ul{
    width: 30%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
header ul li a.nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 100;
}
header ul li a.nav-link:visited{
    color: #fff;
}
header ul li a.nav-link:hover{
    color: #c6c6c6;
}
.site-nav-bar{
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-btn{
    width: 100px;
    background-color: #0066cc;
    border-radius: 25px;
    padding: 10px 12px;
}
.contact-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.contact-btn a:hover {
    color: #ffffff;
    text-decoration: none;
}
/*home-body*/
.site-banner-first img{
    width: 100%;
}
.site-banner-second{
    position: relative;
}
.site-banner-second img{
    width: 100%;
}
.second-banner-text{
    position: absolute;
    bottom: 100px;
    left: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* right: 0px; */
    /* top: 0px;*/
}
.banner-btn{
    display: flex;
}
.second-banner-text h2{
    font-size: 3rem;
    text-align: center;
}
.second-banner-text p{
    margin: 15px 0px;
    color: #666666;
    font-size: 18px;
    text-align: center;
}
.product-section h2,
.product-section p,
.product-section a{
    text-align: center;
}
.product-section h2{
    margin: 0px;
    font-size: 3rem;
}
.product-section p{
    margin: 15px 0px;
    color: #666666;
    font-style: italic;
}
.mini-range{
    background-color: #f9f9f9;
}
.professional-range{
    background-color: #f9f9f9;
}
.our-story{
    width: 50%;
    text-align: center;
    margin: 0px auto;
    line-height: 35px;
    font-size: 1.2rem;
    font-weight: 300;
}
.our-story h2{
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}
.reach-us-banner img{
    width: 100%;
    margin: 0px auto;
}
.reach-us-banner{
    height: 100%;
    width: 100%;
    position: relative;
}
.reach-us-banner-text{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    color: #ffffff;
}
.reach-us-banner-text h2{
    font-size: 3rem;
}
/*about-body*/
.about-banner{
    margin: 35px 0px;
    position: relative;
}
.about-banner .banner-text{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img img{
    width: 60%;
    display: flex;
    margin: 0px auto;
}
.banner-text h2{
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}
.about-para{
    padding: 35px 0px;
}
.about-para h2{
    margin: 25px 0px    ;
    font-size: 3rem;
    text-align: center;
}
.about-para p{
    width: 50%;
    text-align: center;
    margin: 0px auto;
    line-height: 35px;
    font-size: 1.2rem;
    font-weight: 300;
}
.certificates{
    padding: 35px 0px;
}
.certificates h2{
    font-size: 3rem;
    text-align: center;
}
.certificates-img{
    width: 40%;
    display: flex;
    margin: 35px auto;
    justify-content: space-evenly;
    align-items: center;
}
.certificates-img img{
    width: 35%;
    display: flex;
}
.certificates-img .cb{
    width: 25%;
}
.carousel-div{
    width: 60%;
    margin: 0px auto;
}
.manufacturing-facility h2{
    margin: 35px 0px;
    font-size: 3rem;
    text-align: center;
}
.manufacturing-facility img{
    width: 60%;
    display: flex;
    margin: 0px auto;
}
.contact-hero{
    padding: 35px 0px;
    background-color: #f9f9f9;
    width: 100%;
    margin: 15px 0px;
}
.details-box h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
}
.contact-inner-box{
    display: flex;
    justify-content: center;
}
.address,
.details{
    margin: 45px;
}
.address h5,
.details h5{
    margin: 0px 0px 25px 0px;
    font-weight: 700;
    text-align: center;
}
.address p,
.details p{
    margin: 0px;
    text-align: center;
} 
.contact-block{
    display: flex;
    margin: 0px auto;
    justify-content: center;
}
.about-hr{
    margin: 3rem 0px!important;
}
/*product body*/
.product-list ul{
    display: flex;
    flex-direction: column;
}
.product-list ul li{
    list-style-type: none;
}
.product-list ul li img{
    width: 150px;
}
model-viewer{
    width: 800px;
    height: 900px;
}
/*contact body*/
.details-box .address p a,
.details-box .details p a{
    width: 25px;
    color: #666666;
    text-decoration: none;
    font-weight: 300;
}
/*footer*/
footer {
    background-color: #f9f9f9;
    padding: 0px 15px;
}
.footer-logo img{
    width: 40%;
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
}
.footer-items{
    padding: 15px 0px;
    display: flex;
    align-items: center;
}
.footer-links{
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 0px;
}
.footer-links li,
.bottom-footer ul li{
    list-style-type: none;
}
.footer-links li a,
.bottom-footer ul li a{
    text-decoration: none;
    color: #666666;
}
.footer-links li a:hover,
.bottom-footer ul li a:hover{
    border-bottom: 1px solid #666666;
}
.reach-me-text{
    margin: 0px;
    font-weight: 400;
}
.reach-me-text::after{
    margin-left: 10px;
    content: "(business emails)";
    font-size: 12px;
    color: #666666;
}
.email-input{
    position: relative;
}
.footer-items input{
    width: 100%;
    border: none;
    background: #e6e6e6;
    padding: 10px 25px;
    color: #333333;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}
.footer-items input:focus {
    outline: none;
}
.email-input button{
    position: absolute;
    right: 10px;
    top: 7px;
    background: none;
    border: none;
}
.bottom-footer{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.bottom-footer .bottom-footer-links{
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.bottom-footer-links .seperator{
    font-weight: 100;
}.bottom-footer p,
.bottom-footer ul{
    margin: 0px;
}
.bottom-footer p,
.bottom-footer ul li,
.bottom-footer ul li a{
    font-size: 12px;
}